 

 
 
    <div class="form-style-5">
        <form (ngSubmit)="onSubmit()"  novalidate class="form">
       
            <fieldset>
                <legend>Log Effort</legend>
                <input  [(ngModel)]="logeffortModel.totalEffortHours"  type="text" name="txtEffort" id="txtEffort" placeholder="Effor in Hours *">
         
       
                <label for="job">Select Task:</label>
                <select   name="ddlTask" id="ddlTask"  (change)="onTaskChange($event)"  (ngModel)="logeffortModel.taskId">
                    <option value="0">--Select--</option>
                    <option *ngFor="let task of tasks" value={{task.id}}>
                        {{task.name}}
                    </option>
                </select> 
                <label for="job">Select WeekDay:</label>
               

                <select  name="ddlWeekDay" id="ddlWeekDay" (change)="onWeekDayChange($event)"   (ngModel)="logeffortModel.weekId">
                    <option value="0">--Select--</option>
                    <option *ngFor="let weekday of weekdays" value={{weekday.id}}>
                        {{weekday.name}}
                    </option>
                </select>
                <textarea  [(ngModel)]="logeffortModel.description"   name="txtdesc" id="txtdesc" placeholder="Description"></textarea>   
                </fieldset>
          
                








        <input type="submit" value="Save" />
        </form>
     </div>

        
       
    

