<h4>Employee List</h4>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Name</th>
        <th>Weekly Effort (Total)</th>
        <th>Weekly Effort (Average)</th>
        <th>Details</th>
    </tr>
    <tr *ngFor="let item of employees">
        <td>{{item.id}}</td>
        <td>{{item.code}}</td>
        <td>{{item.name}}</td>
        <td>{{item.totalWeeklyEffort}}</td>
        <td>{{item.averageWeeklyEffort}}</td>
        <td>
            
                <button (click)="viewTimeSheet(item.id)">View Timesheet</button>
        
        
        </td>
    </tr>
</table>

 