<h4 style="text-align:center">Employee Time Sheet By Week</h4>

<div style="text-align:right ;margin-right: 100px;">
        <button (click)="logEffortClick($event)"> Log Effort (+) </button>
</div>






<div class="row">
    <div class="col-lg-4">



        <label> <b> Select Employee</b> </label>

        <select (change)="onEmployeeChange($event)" (ngModel)="emp">
            <option value="0">--Select--</option>
            <option *ngFor="let emp of employeesList" value={{emp.id}}>
                {{emp.name}}
            </option>
        </select>
        <br />

    </div>
</div>
<div class="row"> </div>
<table class="table">

    <tr *ngFor="let item of timesheet">

        <td>
    <tr>

        <th>Task Name</th>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    <tr *ngFor="let task of item.weeklyTaskEffortDtoList">

        <td>{{task.taskName}}</td>
        <td>{{task.effortOnSun}}</td>
        <td>{{task.effortOnMon}}</td>
        <td>{{task.effortOnTue}}</td>

        <td>{{task.effortOnWed}}</td>
        <td>{{task.effortOnThu}}</td>
        <td>{{task.effortOnFri}}</td>
        <td>{{task.effortOnSat}}</td>
    </tr>
    <tr style=" background-color: gray">
        <td>Total</td>
        <td>{{item.totalEffortOnSun}}</td>
        <td>{{item.totalEffortOnMon}}</td>
        <td>{{item.totalEffortOnTue}}</td>
        <td>{{item.totalEffortOnWed}}</td>
        <td>{{item.totalEffortOnThu}}</td>
        <td>{{item.totalEffortOnFri}}</td>
        <td>{{item.totalEffortOnSat}}</td>


    </tr>

    </td>







    </tr>
</table>

<tr style="text-align:center;margin-left: 100px;">
    <td><button (click)="prevWeekClick($event)"> Prev Week </button></td>
    <td><button (click)="nextWeekClick($event)"> Next Week </button></td>
    <td><button (click)="backtoList($event)">Back to List </button></td>

</tr>
 
<div *ngIf="logEffortComponentVisibility">

        <log-effort [selectedEmployeeId]="employeeId"></log-effort>
    
    
    
    </div>
